## Settings file was created by plugin UniquePotions v1.0.0
## Plugin GUID: UniquePotions

[Brewing]

## Should the cauldron provide unlimited ingredients
# Setting type: Boolean
# Default value: false
Unlimited Ingredients (CHEAT) = false

## Minimum amount of ingredients to spawn per map
# Setting type: Int32
# Default value: 1
Min Ingredient Spawns = 1

## Maximum amount of ingredients to spawn per map
# Setting type: Int32
# Default value: 4
Max Ingredient Spawns = 4

[Gold Potion]

## Spawn gold potions in the map
# Setting type: Boolean
# Default value: true
Enabled = true

## The map the gold potion can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

## How much the gold potion should multiply the price of valuables by
# Setting type: Single
# Default value: 1.2
Money Multiplier = 1.2

[Gravity Potion]

## Spawn gravity potions in the map
# Setting type: Boolean
# Default value: true
Enabled = true

## The map the gravity potion can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

[Health Potion]

## Spawn health potions in the map
# Setting type: Boolean
# Default value: true
Enabled = true

## The map the health potion can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

## How much health the health potion should give players in multiplayer
# Setting type: Int32
# Default value: 20
Healing Multiplayer = 20

## How much health the health potion should give the player in singleplayer
# Setting type: Int32
# Default value: 40
Healing Solo = 40

## Percent of value the health potion should restore on damaged valuables
# Setting type: Single
# Default value: 0.1
Healing Valuables = 0.1

[Phoenix Potion]

## Spawn phoenix potions in the map
# Setting type: Boolean
# Default value: true
Enabled = true

## The map the phoenix potion can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

[Portal Potion]

## Spawn portal potions in the map
# Setting type: Boolean
# Default value: false
Enabled = false

## The map the portal potions can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

[Rocket Elixir]

## Spawn rocket elixirs in the shop
# Setting type: Boolean
# Default value: true
Enabled = true

## Refill/respawn the rocket elixir every level
# Setting type: Boolean
# Default value: false
Refill = false

## How much damage the rocket elixir should do to players
# Setting type: Int32
# Default value: 75
Player Damage = 75

## How much damage the rocket elixir should do to enemies
# Setting type: Int32
# Default value: 160
Enemy Damage = 160

[Singularity Potion]

## Spawn singularity potions in the map
# Setting type: Boolean
# Default value: true
Enabled = true

## The map the singularity potion can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

[Stamina Elixir]

## Spawn stamina elixirs in the shop
# Setting type: Boolean
# Default value: true
Enabled = true

## Refill/respawn the stamina elixir every level
# Setting type: Boolean
# Default value: true
Refill = true

[Unstable Potion]

## Spawn unstable potions in the map
# Setting type: Boolean
# Default value: true
Enabled = true

## The map the unstable potion can spawn on
## 0 = All
## 1 = Wizard
## 2 = Manor
## 3 = Arctic
# Setting type: Int32
# Default value: 0
Map = 0

